@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@400;700&family=Libre+Baskerville&family=Single+Day&display=swap');

.grid-container{
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 100px 400px;
    gap: 20px;
    padding:20px;
    background-color:#3851d0;
    
}
.first{
grid-column: span 2;
background-color: maroon;
color: aliceblue;
font-family: 'Dancing Script', cursive;
font-family: 'Single Day', cursive;
}

.second{
    position: relative;
    
}
.third{
width:28vw;
}
.img{

    width:7em;
    position: absolute;
    bottom: 10px;
    left: 80px;
    height: 70px;
   

}
.second > .logo{

height: 100px;
width: 100%;
position: relative;
top: 150px;
border-radius: 10%;
opacity: 100%;
}
#photo{
    height:100%;
    width:100%;
}
.third legend{
    font-family: 'Single Day', cursive;
}
.third #box .btn{
    background-color: rgb(241, 96, 120);
    border:.3px solid rgb(241, 96, 120);
    font-family: 'Single day', cursive;
    color: white;
   font-size: 20px;
   position:absolute;
   left:35rem;
   padding:2px;
   margin: 0px; 
   top:450px;
   transition: transform 0.03s ease-in ;
   transition: background-color 1s;

   }
   .third #box .btn:hover{
    transform: translateY(-7px);
    background-color:white;
    color:rgb(241, 96, 120);
}
.third #box .btn1{
    font-size: 20px;
    background-color: rgb(241, 96, 120);
    border:.3px solid rgb(241, 96, 120);
    font-family: 'Single day', cursive;
    color: white;
    position:absolute;
    padding:2px;
    margin: 0px; 
    top:450px;
   left:45rem;
   transition: transform 0.03s ease-in ;
   transition: background-color 1s;
    }
    .third #box .btn1:hover{
        transform: translateY(-7px);
        background-color:white;
        color:rgb(241, 96, 120);
    }


.container{
    margin-top: 80px;
    text-align: center;
    width:27vw;
    
}
.container .title legend{
    font-size: 30px;
    bottom:80px;
    position:absolute;
    top:10rem;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container .top, .mid, .bottom{
    display: flex;
    justify-content:left;
    position: relative;
}
.inputbox input{
    border:none;
    border-bottom: 2px solid silver;
    padding:15px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.top >.top-left{
    position:absolute;
    top:30px;
}
.top >.top-right{
    position: absolute;
    top:30px;
    left:13.3rem;
}
.mid >.mid-left{
    position: absolute;
    top:30px;
}
.mid >.mid-right{
    position:absolute;
    left:13.3rem;
    top:30px;
}
.bottom >.bottom-left{
    position: absolute;
    top:30px;
}
.bottom >.bottom-right{
position: absolute;
left:13.3rem;
top:30px;
}
*.span{
    font-size: 1em;
    font-family: 'Single day', cursive;
}
.inputbox input:valid+span,.inputbox input:focus+span{
color: #3851d0;
transform: translateX(1px) translateY(-47px);
}
.third{
    background-color: white;
}
.first > .child{
    position:absolute;
   height: 100px;
   width:48%;
   background-color: red; 
   transition: transform 0.2s ease-in-out 0s;
}

#icon{
    height: 50px;
    position:absolute;
    left:20%;
    bottom:35px;
}
.first:hover .child{
    transform: translateX(100%);
}